<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="registration" method="post">
    <input type="text" name="username" placeholder="USERNAME">
    <input type="text" name="first_name" placeholder="ENTER YOUR FIRST NAME">
    <input type="text" name="last_name" placeholder="ENTER YOUR LAST NAME">
    <input type="email" name="email" placeholder="ENTER TOUR EMAIL ID">
    <input type="password" name="password" placeholder="PASSWORD">
    <input type="password" name="password1" placeholder="CONFIRM PASSWORD">
    <input type="submit">
</form>
</body>
</html>